@font-face {
	font-family: Castoro;
	font-style: normal;
	font-weight: normal;
	src: url('./Castoro-Regular.woff2');
}

@font-face {
	font-family: Castoro;
	font-style: italic;
	font-weight: normal;
	src: url('./Castoro-Italic.woff2');
}

@font-face {
	font-family: Zarathustra;
	font-style: normal;
	font-weight: normal;
	src: url('./zarathustra-v01.otf');
}
