@import "fonts.css";
@import "sidenotes.css";

html {
	background-color: #212121;
	color: white;
	font-size: 16px;
	line-height: 1.6;
	font-family: Castoro, "Hoefler Text", Baskerville, serif;
}

h1, h2, h3 {
    font-style: italic;
    font-weight: normal;
}

h1 {
	line-height: 0.8;
	text-shadow: 2px 2px #555;
}

h2, h3, h4 {
	margin: 0;
}

article header span {
	display: block;
	color: darkgrey;
	font-size: .83rem;
	font-style: italic;
}

article, body > header {
	margin-left: 10%;
	width: 100%;
	max-width: 60ch;
}

article {
	margin-top: 2lh;
}

a {
	color: inherit;
	text-decoration-thickness: 1px;
}

a:hover {
	color: red;
}

body > header {
	display: flex;
	grid-gap: 1rem;
	align-items: center;
	justify-content: space-between;
}

figure {
	text-align: center;
}

figure figcaption {
	color: darkgrey;
	font-size: smaller;
	margin: 1ch;
}

body > header nav ul {
	display: flex;
	grid-gap: 2rem;
	list-style: none;
	margin: 0;
	padding: 0;

	font-variant-caps: all-small-caps;
	letter-spacing: .07rem;
	font-size: 110%;
	line-height: 1;
}

body > header a {
	text-decoration: none;
	text-shadow: 2px 2px #555;
}

abbr {
	font-variant-caps: all-small-caps;
	letter-spacing: .08rem;
	margin-right: -.08rem;
	line-height: 1;
}

li :first-child {
	margin-block-start: 0.3rem;
}

li :last-child {
	margin-block-end: 0.3rem;
}

article ul, article ol {
	padding-inline-start: 0;
}

article ul ul, article ul ol,
article ol ul, article ol ol {
	padding-inline-start: initial;
}

article ul {
	list-style: "→  ";
}

article ul li::marker {
	color: #777;
}

article ol li::marker {
	content: counter(list-item) "   ";
	color: #777;
	font-variant-caps: all-small-caps;
}
